*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.tlog
ipch/
Obj/
*.exe
~$*
*.DS_Store
*.vcsproj
*.o
*.obj
*.opensdf
*.unsuccessfulbuild
*.lastbuildstate
*.idb
/Debug/*
/Release/*
/lib/*