<div class="color-picker">
    <div color-sv-picker hue="hue" saturation="saturation" value="value"></div>
    <div color-hue-picker hue="hue"></div>
    <div class="right">
        <div class="color-staging-area" ng-style="stagingAreaBackgroundColor"></div>
        <div class="bottom">
            <div class="hex">
                # <input type="text" class="input" ng-model="currentColor" maxlength="6" ng-change="updateCurrentColorFromHexInput(currentColor)">
            </div>
            <input type="button" value="Cancel" class="btn full-width" ng-click="cancel()">
            <br>
            <input type="button" value="Ok" class="btn btn-positive full-width" ng-click="ok()">
        </div>
    </div>
</div>