<!DOCTYPE html>
<html>
  <head>
    {{#optimize}}
      <link rel="stylesheet" href="stylesheets/style.css" />
    {{/optimize}}

    {{^optimize}}
      <link rel="stylesheet" href="/stylesheets/style.css" />
    {{/optimize}}
  </head>
  <body ng-cloak ng-controller="GlobalController">
      <bullseye ng-mousemove="onMouseMove($event)" ng-click="addVoxel()">
        <span class="crosshair">+</span>
      </bullseye>
      <div class="bottom">
        <div color-palette rgb="rgb"></div>
      </div>

      {{#reload}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/reload-client.js"></script>
      {{/reload}}

      {{#optimize}}
        <script src="javascripts/application-built.js"></script>
      {{/optimize}}

      {{^optimize}}
        <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/application.js"></script>
      {{/optimize}}
  </body>
</html>