<!DOCTYPE html>
<html>
  <head>
    {{#optimize}}
      <link rel="stylesheet" href="stylesheets/style.css" />
    {{/optimize}}

    {{^optimize}}
      <link rel="stylesheet" href="/stylesheets/style.css" />
    {{/optimize}}
  </head>
  <body ng-cloak ng-controller="GlobalController">
      <bullseye ng-mousemove="onMouseMove($event)" ng-mousedown="onMouseDown($event)" ng-mouseup="onMouseUp($event)">
        <div style="position: relative">
          <div class="color-picker">
            <div color-sv-picker ng-model="test.sv" hue="test.hue"></div>
            <div color-hue-picker ng-model="test.hue"></div>
            <div class="right">
              <input type="button" value="Cancel">
              <br>
              <input type="button" value="Ok">
            </div>
          </div>
        </div>
        <span class="crosshair">+</span>
      </bullseye>

      {{#reload}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/reload-client.js"></script>
      {{/reload}}

      {{#optimize}}
        <script src="javascripts/application-built.js"></script>
      {{/optimize}}

      {{^optimize}}
        <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/application.js"></script>
      {{/optimize}}
  </body>
</html>