@primary-dark-color: #222;
@primary-med-color: blue;
@primary-light-color: white;
@accent-dark-color: #000;
@accent-med-color: #444;
@accent-light-color: white;
@positive-color: #456580;
@neutral-color: #454545;
@negative-color: red;

@dialog-border-radius: 5px;
@dialog-border: 1px solid @accent-dark-color;
@dialog-box-shadow: 2px 2px 2px @accent-med-color;

@input-border-radius: 4px;
@input-padding: 5px;

.full-width {
  width: 100%;
}

.btn {
  cursor: pointer;
  padding: @input-padding;

  border-width: 1px;
  border-style: solid;
  border-radius: @input-border-radius;
  border-color: lighten(@neutral-color, 10%);

  background-color: @neutral-color;

  color: #FFF;
}

.btn:hover {
  background-color: lighten(@neutral-color, 5%);
}

.btn:focus {
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.251569) 0 3px 5px 0 inset;
}

.btn-positive {
  background-color: @positive-color;
  border-color: lighten(@positive-color, 10%);
}

.btn-positive:hover {
  background-color: lighten(@positive-color, 5%);
}

.input {
  padding: @input-padding;

  border-width: 1px;
  border-style: solid;
  border-radius: @input-border-radius;
  border-color: lighten(@neutral-color, 10%);

  box-shadow: rgba(0, 0, 0, 0.251569) 0 3px 5px 0 inset;

  color: #FFF;
  background-color: @neutral-color;
}

.input:focus {
  outline: 0;
}

@import "../modules/color-picker/style.less";

@blue: #5B83AD;
@yellow: #FFFFE0;

[ng-cloak] {
  display: none;
}

html, body {
  -webkit-user-select: none; 
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background-color: transparent; 
}
 
.crosshair {
  font-size: 32px;
  color: #FFF;
}

.minicolors-panel {
    box-shadow: none;
}

.bottom {
  position: fixed;
  bottom: -4px;
}